<div class="expansion-panels">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>Subject Form</h1>
      </mat-panel-title>
      <!--      <mat-panel-description></mat-panel-description>-->
    </mat-expansion-panel-header>

    <form [formGroup]="subjectForm" (ngSubmit)="subjectSubmit()">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <button mat-button color="primary" type="submit">
          Submit
        </button>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>Professor Form</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="columns">
      <div class="form-section">
        <form [formGroup]="professorForm" (ngSubmit)="professorSubmit()">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Number</mat-label>
              <input matInput formControlName="phoneNumber">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>address</mat-label>
              <input matInput formControlName="address">
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill">
              <mat-label>Degree</mat-label>
              <mat-select name="title" formControlName="title">
                <mat-option *ngFor="let title of titles" [value]="title.value">
                  {{title.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <ng-container *ngIf="(subjects$ |async).length > 0">
              <mat-form-field>
                <mat-label>Subjects</mat-label>
                <mat-select formControlName="subjects" name="subjects" multiple>
                  <mat-option *ngFor="let subject of subjects$ | async"
                              [value]="subject.id">{{subject.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <br/>
            <button mat-button color="primary" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="selection-section">
        <form
          *appLet="selectedProfessors$| async as filteredProfessors"
        >
          <mat-form-field [style.width]="'100%'">
            <mat-chip-list #chipList aria-label="Professor selection">
              <mat-chip
                *ngFor="let fruit of filteredProfessors"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)">
                {{fruit.title}} {{fruit.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Select professor..."
                #professorsInput
                [formControl]="professorsCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete"
                              (optionSelected)="selected($event, filteredProfessors)"
                              [displayWith]="displayFn"
            >
              <mat-option *ngFor="let professor of filteredProfessors$ | async" [value]="professor">
                {{professor.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <section class="section">
            <article class="article">
              <h1>Available Professors</h1>
              <mat-divider></mat-divider>
              <div *ngIf="(filteredProfessors$|async).length > 0">

                <mat-card class="example-card" *ngFor="let professor of filteredProfessors$ | async ;let odd = odd;">
                  <mat-card-header>
                    <!--      <div mat-card-avatar class="example-header-image"></div>-->
                    <mat-card-title>{{professor.title}} {{professor.name}}</mat-card-title>
                    <mat-card-subtitle>contact: {{professor.phoneNumber}}</mat-card-subtitle>
                  </mat-card-header>
                  <!--        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
                  <mat-card-content>

                    <address>
                      <p class="card-item">
                      </p>
                      <mat-icon aria-hidden="false" aria-label="email">alternate_email</mat-icon>
                      <a [href]="'mailto:'+ professor.email">{{professor.email}}</a>

                      <p class="card-item">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                        <span>{{professor.address}}</span>
                      </p>
                    </address>

                  </mat-card-content>
                </mat-card>
              </div>
            </article>

            <mat-divider [vertical]="true"></mat-divider>

            <article
              class="article"
              *appLet="professorsSubjects$ | async as professorSubjects"
            >
              <h1>Professor's schedule</h1>
              <mat-divider></mat-divider>
              <mat-selection-list *ngFor="let professorSub of professorSubjects">
                <mat-list-option>
                  <h3 matLine> {{professorSub.professor.title}} {{professorSub.professor.name}} </h3>
                  <p matLine *ngIf="professorSub.subjects.length > 0">
                    Subjects
                    <mat-divider></mat-divider>
                  </p>
                  <div matLine>
                    <mat-chip *ngFor="let subject of professorSub.subjects">
                      {{subject.name}}
                    </mat-chip>
                  </div>
                </mat-list-option>
              </mat-selection-list>
            </article>
          </section>
        </form>

      </div>
    </div>
  </mat-expansion-panel>
</div>
